In [2]:
import pandas as pd
from pandas import ExcelWriter
from sqlalchemy import create_engine
import numpy as np
import os
import pygal
import matplotlib.pyplot as plt
import sqlalchemy
from datetime import datetime,date,time,timedelta
import calendar
import math
from os import remove

ImportError: No module named pygal

In [2]:
df=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas_Cotrapsa_2.xlsx')

In [6]:
df = df[df.Estatus=='Emitida']
df.reset_index(inplace=True,drop=True)

In [25]:
df=df[df['Nombre'].isin(['MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.', 'TRAILERS Y EQUIPO ALIADO, S.A. DE C.V.',
       'OMAR RODRIGO BRAMBILA TAMARIZ',
       'COMERCIALIZADORA SUDIMEX, S. DE R. L. DE C.V.',
       'REMOLQUES Y CARROCERIAS CRUZ, S.A. DE C.V.',
       'UTILITY TRAILERS DE MEXICO,  S.A.P.I.  DE C.V.',
       'GRANPORTUARIA SERVICIOS DEDICADOS SA  DE  C V',
       'INDUSTRIAS Y MANUFACTURAS MUÑOZ, S.A. DE C.V.',
       'TALLERES ZUBIRIA S.A. DE C.V.',
       'INDUSTRIAS MAVAEN S.A. DE C.V.', 'MECANICA TEK S.A. DE C.V.',
       'JEBOL MEXICO SA DE C V', 'BULKMATIC DE MEXICO, S. DE R.L. DE C.V.',
       'SERVICIOS TRACTOMOTRICES, S.A. DE C.V.', 'FLETES HESA, S.A. DE C.V.',
       'ENTORNO INDUSTRIAL, S.A. DE C.V.',
       'PRAXAIR MEXICO, S. DE R.L. DE C.V.', 'BRANDES INTERNATIONAL CO.',
       'RAUL GARCIA DE LOS ANGELES',
       'ARTÍCULOS INDUSTRIALES VADE, S.DE R.L. DE C.V.',
       'NITROPET, S.A. DE C.V.', 'AIRIBUZ S.A. DE C.V-',
       'ESPECIALIZADOS EN REMOLQUES Y CARROCERIAS M',
       'CAMIONERA CATOSA S.A. DE C.V.', 'MARTHA ELENA MENDOZA MEDINA',
       'ANGEL FLORES ARAUJO', 'ZAPATA CAMIONES, S.A. DE C.V.',
       'GRUPO INDUSTRIAL DAVASA, S.A. DE C.V.',
       'STOUGHTON REFACCIONES Y SERVICIO MEXICO, S.A.',
       'GERARDO MARTINEZ SEGURA',
       'COMERCIALIZADORA DE REMOLQUES COREM S.A. DE',
       'PEDRO MORALES CERVANTES', 'DE LA LUZ TRAILERS S.A. DE C.V.',
       'CORPORATIVO MACRO DIESEL, S.A. DE C.V.',
       'INSPECCION Y CRIOGENIA ICSA, S.A. DE C.V.', 'OPERBUS, S.A. DE C.V.',
       'ELVIA AVILES BATREZ', 'TRANSPORTES MONROY SCHIAVON S.A. DE C.V.',
       'TRANSPORTADORA EGOBA S.A. DE C.V.', 'PAULO CESAR RUIZ CRUCES',
       'EXA INDUSTRIAL S.A. DE C.V.',
       'TRANSPORTES GARCIAS TRUCKING, S.A. DE C.V.', 'VALENTIN PATIÑO BARRIGA',
       'FRUEHAUF DE MEXICO, S.A. DE C.V.'])]
df.reset_index(drop=True,inplace=True)

In [29]:
aux=df[['Fecha_de_p','Importe']].groupby('Fecha_de_p').sum()
aux.sort_values('Fecha_de_p',ascending=True,inplace=True)
aux

               Importe
Fecha_de_p
201608        11352.20
201609       248081.59
201610       448199.22
201611       518572.34
201612       427057.55
201701       266199.76
201702       412004.91
201703       516014.35
201704       315469.48
201705       308554.59
201706       588881.23
201707      1288086.54
201708      1078619.10
201709       395485.72
201710       261417.57
201711       361194.76
201712       552077.22
201801       401272.71
201802       357173.46
201803       534372.49
201804       604838.39
201805       507161.06
201806       477858.46
201807       384896.21
201808       741793.73
201809      2808612.53
201810       426235.54
201811       406434.19
201812       597485.55
201901       261440.20
201902       929546.32
201903       329260.08
201904       337698.34
201905       485251.15
201906       515790.87
201907       756934.77
201908       493361.40
201909       203090.98

In [33]:
writer=ExcelWriter('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas_sin_mano_obra.xlsx')
df.to_excel(writer,'Hoja de Datos',index=False)
writer.save()