In [31]:
from pandas import ExcelWriter
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os
import pygal
import matplotlib.pyplot as plt
import sqlalchemy
from datetime import datetime,date,time,timedelta
import calendar
import math
from os import remove

In [32]:
df2=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas_sin_mano_obra.xlsx')

df2 = df2[df2.Estatus=='Emitida']
df2.reset_index(inplace=True,drop=True)

In [33]:
ruta='/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/tratadas'

lst_arch = ([x for x in os.listdir(ruta) if x[-4:]=='xlsx'])
lst_arch

['Facturas_Bimbo.xlsx', 'Facturas_Barcel.xlsx', 'Facturas_Alpura.xlsx']

In [34]:
lst_df = []
for arch in lst_arch:
    df = pd.read_excel(os.path.join(ruta,arch),encoding='iso-8859-1')
    lst_df.append(df)

In [35]:
lst_df[0].shape

(281, 7)

In [36]:
lst_df[0] = lst_df[0] [lst_df[0]['Fecha_p'].isin(['201601','201602','201603','201604','201605','201606','201607','201608','201609','201610','201611','201612'])]
lst_df[0].reset_index(drop=True,inplace=True)

In [37]:
lst_df[1] = lst_df[1] [lst_df[1]['Fecha_pago'].isin(['201601','201602','201603','201604','201605','201606','201607','201608','201609','201610','201611','201612'])]
lst_df[1].reset_index(drop=True,inplace=True)

In [38]:
lst_df[2] = lst_df[2] [lst_df[2]['Fecha_pago'].isin(['201601','201602','201603','201604','201605','201606','201607','201608','201609','201610','201611','201612'])]
lst_df[2].reset_index(drop=True,inplace=True)

In [39]:
df2=df2[df2['Fecha_de_p'].isin(['201601','201602','201603','201604','201605','201606','201607','201608','201609','201610','201611','201612'])]
df2.reset_index(drop=True,inplace=True)

In [40]:
lst_df[1].head()

Empty DataFrame
Columns: [Nombre, Fecha_elab, Fecha_entrega, Fecha_pago, Subtotal, Importe_total, Método_pago]
Index: []

In [41]:
lst_df[2].head()

Empty DataFrame
Columns: [Nombre, Fecha_elabo, Fecha_entr, Fecha_pago, Subtotal, Importe_total, Método_pago]
Index: []

In [42]:
df2.head()

,Nombre,Estatus,Fecha_de_elabor,Fecha_de_entr,Fecha_de_p,Fecha_de_cance,Subtotal,Importe,Método_pago
0,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2016-12-22,2016-12-22,201612,NaN,21306.40,24715.40,3
1,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2016-12-19,2016-12-19,201612,NaN,38550.40,44718.40,3
2,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2016-12-16,2016-12-16,201612,NaN,3239.24,3757.48,3
3,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2016-12-16,2016-12-16,201612,NaN,9705.60,11258.50,3
4,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2016-12-15,2016-12-15,201612,NaN,54203.90,62876.60,3

In [43]:
aux=lst_df[0][['Fecha_p','Importe_total']].groupby('Fecha_p').sum()
aux.sort_values('Fecha_p',ascending=True,inplace=True)
aux

         Importe_total
Fecha_p
201610         4479.92
201611        42661.32
201612       229478.16

In [44]:
aux2=lst_df[1][['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()
aux2.sort_values('Fecha_pago',ascending=True,inplace=True)
aux2

Empty DataFrame
Columns: [Importe_total]
Index: []

In [45]:
aux3=lst_df[2][['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()
aux3.sort_values('Fecha_pago',ascending=True,inplace=True)
aux3

Empty DataFrame
Columns: [Importe_total]
Index: []

In [46]:
aux4=df2[['Fecha_de_p','Importe']].groupby('Fecha_de_p').sum()
aux4.sort_values('Fecha_de_p',ascending=True,inplace=True)
aux4

              Importe
Fecha_de_p
201608       11352.20
201609      248081.59
201610      448199.22
201611      518572.34
201612      427057.55

In [47]:
line_chart = pygal.Bar()
line_chart.title = 'Facturas 2016'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2016.svg')

In [48]:
line_chart = pygal.Pie()
line_chart.title = 'Facturas 2016'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2016_Pie.svg')

In [49]:
line_chart = pygal.StackedLine(stack_from_top=True, fill=True)
line_chart.title = 'Facturas 2016'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2016_acum.svg')

In [50]:
line_chart = pygal.Line(stack_from_top=True)
line_chart.title = 'Facturas 2016'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2016_Lineal.svg')

In [51]:
aux4

              Importe
Fecha_de_p
201608       11352.20
201609      248081.59
201610      448199.22
201611      518572.34
201612      427057.55