In [31]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_excel('/Users/Laura/Desktop/Chuy/COTRAPSA/ANALISIS FACTURAS/datos/Facturas.xlsx')

In [33]:
df.head()

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago
0,CAMIONERA CATOSA S.A. DE C.V.,Cancelada,2016-09-20,2016-09-27,45030.00,2.0,52234.80,2
1,ELVIA AVILES BATREZ,Cancelada,2016-11-10,2016-11-10,54310.35,1.0,63000.01,NaN
2,"SERVICIOS TRACTOMOTRICES, S.A. DE C.V.",Cancelada,2017-10-05,2017-10-13,2662.00,1.0,3087.92,3
3,"SERVICIOS TRACTOMOTRICES, S.A. DE C.V.",Cancelada,2017-10-05,2017-10-13,2662.00,1.0,3087.92,3
4,"NITROPET, S.A. DE C.V.",Cancelada,2019-04-12,2019-06-11,17857.00,1.0,20714.12,PUE

In [34]:
df.shape

(1909, 8)

In [35]:
df=df[df.Estatus=='Emitida']

In [36]:
df.head()

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago
6,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO
7,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO
8,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO
9,OMAR RODRIGO BRAMBILA TAMARIZ,Emitida,2016-01-05,2016-02-04,15910.00,1.0,18455.60,TRANSFERENCIA ELECTRO
10,STOUGHTON REFACCIONES Y SERVICIO ME,Emitida,2016-01-06,2016-01-14,2255.50,2.0,2616.38,NaN

In [37]:
df.columns

Index([u'Nombre', u'Estatus', u'Fecha de elaborac', u'Fecha de pago',
       u'Subtotal', u'Moned', u'Importe total', u'Metodo de pago'],
      dtype='object')

In [38]:
df['Fecha de pago'][6]

Timestamp('2016-02-04 00:00:00')

In [39]:
df['ano-mes']=df['Fecha de pago'].map(lambda x:x.strftime('%Y%m'))

In [40]:
df['ano']=df['Fecha de pago'].map(lambda x:x.strftime('%Y'))

In [41]:
df['mes']=df['Fecha de pago'].map(lambda x:x.strftime('%m'))

In [42]:
df.ano.value_counts(normalize=True)

2019    0.398164
2018    0.236948
2017    0.203098
2016    0.153758
2020    0.008032
Name: ano, dtype: float64

In [43]:
df.head()

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago,ano-mes,ano,mes
6,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02
7,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02
8,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02
9,OMAR RODRIGO BRAMBILA TAMARIZ,Emitida,2016-01-05,2016-02-04,15910.00,1.0,18455.60,TRANSFERENCIA ELECTRO,201602,2016,02
10,STOUGHTON REFACCIONES Y SERVICIO ME,Emitida,2016-01-06,2016-01-14,2255.50,2.0,2616.38,NaN,201601,2016,01

In [44]:
df_pesos=df[df.Moned==1.0]
df_dolar=df[df.Moned==2.0]

In [45]:
df_pesos['Importe_pesos']=df_pesos['Importe total']

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
df_pesos.head()

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago,ano-mes,ano,mes,Importe_pesos
6,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02,92394.28
7,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02,92394.28
8,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02,92394.28
9,OMAR RODRIGO BRAMBILA TAMARIZ,Emitida,2016-01-05,2016-02-04,15910.00,1.0,18455.60,TRANSFERENCIA ELECTRO,201602,2016,02,18455.60
11,OMAR RODRIGO BRAMBILA TAMARIZ,Emitida,2016-01-08,2016-02-07,8749.00,1.0,10148.84,TRANSFERENCIA ELECTRO,201602,2016,02,10148.84

In [47]:
df_dolar_2016=df_dolar[df_dolar.ano=='2016']
df_dolar_2017=df_dolar[df_dolar.ano=='2017']
df_dolar_2018=df_dolar[df_dolar.ano=='2018']
df_dolar_2019=df_dolar[df_dolar.ano=='2019']

In [48]:
df_dolar_2016['Importe_pesos']=df_dolar_2016['Importe total']*18.6886
df_dolar_2016['Importe_pesos']=df_dolar_2016['Importe_pesos'].map(lambda x:format(x , '.4f'))

df_dolar_2017['Importe_pesos']=df_dolar_2017['Importe total']*18.9066
df_dolar_2017['Importe_pesos']=df_dolar_2017['Importe_pesos'].map(lambda x:format(x , '.4f'))

df_dolar_2018['Importe_pesos']=df_dolar_2018['Importe total']*19.2373
df_dolar_2018['Importe_pesos']=df_dolar_2018['Importe_pesos'].map(lambda x:format(x , '.4f'))

df_dolar_2019['Importe_pesos']=df_dolar_2019['Importe total']*19.2726
df_dolar_2019['Importe_pesos']=df_dolar_2019['Importe_pesos'].map(lambda x:format(x , '.4f'))

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [49]:
df_dolar_2017

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago,ano-mes,ano,mes,Importe_pesos
296,"UTILITY TRAILERS DE MEXICO, S.A.P.I. DE",Emitida,2016-12-08,2017-02-06,138774.34,2.0,160978.23,3,201702,2017,02,3043551.0033
297,"UTILITY TRAILERS DE MEXICO, S.A.P.I. DE",Emitida,2016-12-08,2017-02-06,58723.20,2.0,68118.91,3,201702,2017,02,1287896.9838
325,CAMIONERA CATOSA S.A. DE C.V.,Emitida,2017-01-03,2017-01-10,10578.06,2.0,12270.55,2,201701,2017,01,231994.3806
326,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-03,2017-01-11,13089.58,2.0,15183.95,3,201701,2017,01,287076.8691
327,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-03,2017-01-11,5938.56,2.0,6888.73,3,201701,2017,01,130242.4626
328,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-03,2017-01-11,2642.66,2.0,3065.58,3,201701,2017,01,57959.6948
329,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-03,2017-01-11,2642.66,2.0,3065.58,3,201701,2017,01,57959.6948
330,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-10,2017-01-18,10213.46,2.0,11847.72,3,201701,2017,01,224000.1030
331,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-10,2017-01-18,41371.23,2.0,47990.55,3,201701,2017,01,907338.1326
332,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-11,2017-01-19,26172.43,2.0,30360.11,3,201701,2017,01,574006.4557
335,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-12,2017-01-20,1405.30,2.0,1630.15,3,201701,2017,01,30820.5940
336,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-12,2017-01-20,9339.84,2.0,10834.21,3,201701,2017,01,204838.0748
338,"UTILITY TRAILERS DE MEXICO, S.A.P.I. DE",Emitida,2017-01-17,2017-03-18,17736.60,2.0,20574.46,3,201703,2017,03,388993.0854
344,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-24,2017-02-01,25336.92,2.0,29390.91,3,201702,2017,02,555682.1790
346,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-26,2017-02-03,8377.04,2.0,9717.37,3,201702,2017,02,183722.4276
349,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-01-31,2017-02-08,16605.80,2.0,19262.73,3,201702,2017,02,364192.7310
350,TRANSPORTADORA ALPURA S.A.P.I. DE C.V.,Emitida,2017-02-02,2017-03-19,23388.75,2.0,27130.95,3,201703,2017,03,512954.0193
353,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-07,2017-02-15,31712.87,2.0,36786.89,3,201702,2017,02,695515.0145
354,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-07,2017-02-15,3731.40,2.0,4328.42,3,201702,2017,02,81835.7056
355,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-07,2017-02-15,9328.50,2.0,10821.06,3,201702,2017,02,204589.4530
365,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-22,2017-03-02,24098.37,2.0,27954.16,3,201703,2017,03,528518.1215
367,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-22,2017-03-02,12123.54,2.0,14063.31,3,201703,2017,03,265889.3768
369,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-24,2017-03-04,46410.21,2.0,53835.84,3,201703,2017,03,1017852.6925
370,"UTILITY TRAILERS DE MEXICO, S.A.P.I. DE",Emitida,2017-02-24,2017-04-25,79480.72,2.0,92197.64,3,201704,2017,04,1743143.9004
373,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-28,2017-03-08,1592.80,2.0,1847.65,3,201703,2017,03,34932.7795
374,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-28,2017-03-08,53541.00,2.0,62107.56,03 TRANSFERENCIA ELECT,201703,2017,03,1174242.7939
375,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-02-28,2017-03-08,70198.20,2.0,81429.91,03 TRANSFERENCIA ELECT,201703,2017,03,1539562.7364
378,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-03-03,2017-03-11,4759.20,2.0,5520.67,03 TRANSFERENCIA ELECT,201703,2017,03,104377.0994
383,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-03-10,2017-03-18,33908.00,2.0,39333.28,03 TRANSFERENCIA ELECT,201703,2017,03,743658.5916
387,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-03-14,2017-03-22,9408.00,2.0,10913.28,03 TRANSFERENCIA ELECT,201703,2017,03,206333.0196
...,...,...,...,...,...,...,...,...,...,...,...,...
606,TALLERES ZUBIRIA S.A. DE C.V.,Emitida,2017-09-28,2017-10-05,24170.64,2.0,28037.95,03 TRANSFERENCIA ELECT,201710,2017,10,530102.3055
612,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-09,2017-10-17,20152.72,2.0,23377.11,03 TRANSFERENCIA ELECT,201710,2017,10,441981.6679
622,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-16,2017-10-24,6955.08,2.0,8067.93,03 TRANSFERENCIA ELECT,201710,2017,10,152537.1253
628,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-24,2017-11-01,21387.21,2.0,24809.16,03 TRANSFERENCIA ELECT,201711,2017,11,469056.8645
629,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-24,2017-11-01,3553.83,2.0,4122.41,03 TRANSFERENCIA ELECT,201711,2017,11,77940.7569
630,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-24,2017-11-01,2446.22,2.0,2837.68,03 TRANSFERENCIA ELECT,201711,2017,11,53650.8807
631,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-24,2017-11-01,2382.52,2.0,2763.72,03 TRANSFERENCIA ELECT,201711,2017,11,52252.5486
632,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-24,2017-11-01,21196.72,2.0,24588.29,03 TRANSFERENCIA ELECT,201711,2017,11,464880.9637
637,"ZAPATA CAMIONES, S.A. DE C.V.",Emitida,2017-10-26,2017-11-02,14325.60,2.0,16617.70,03 TRANSFERENCIA ELECT,201711,2017,11,314184.2068
638,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-10-26,2017-11-03,4451.90,2.0,5164.22,03 TRANSFERENCIA ELECT,201711,2017,11,97637.8419
639,"ZAPATA CAMIONES, S.A. DE C.V.",Emitida,2017-10-31,2017-11-07,30448.50,2.0,35320.26,03 TRANSFERENCIA ELECT,201711,2017,11,667786.0277
640,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-06,2017-11-14,7129.85,2.0,8270.55,03 TRANSFERENCIA ELECT,201711,2017,11,156367.9806
641,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-07,2017-11-15,10395.99,2.0,12059.38,03 TRANSFERENCIA ELECT,201711,2017,11,228001.8739
642,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-09,2017-11-17,8498.89,2.0,9858.65,03 TRANSFERENCIA ELECT,201711,2017,11,186393.5521
646,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-17,2017-11-25,43320.77,2.0,50252.03,03 TRANSFERENCIA ELECT,201711,2017,11,950095.0304
648,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-21,2017-11-29,1425.97,2.0,1654.07,03 TRANSFERENCIA ELECT,201711,2017,11,31272.8399
649,"ZAPATA CAMIONES, S.A. DE C.V.",Emitida,2017-11-21,2017-11-28,30553.76,2.0,35442.36,03 TRANSFERENCIA ELECT,201711,2017,11,670094.5236
651,"UTILITY TRAILERS DE MEXICO, S.A.P.I. DE",Emitida,2017-11-21,2017-12-21,156688.40,2.0,181758.54,03 TRANSFERENCIA ELECT,201712,2017,12,3436436.0124
654,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-21,2017-11-29,7129.85,2.0,8270.55,03 TRANSFERENCIA ELECT,201711,2017,11,156367.9806
655,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-22,2017-11-30,48515.02,2.0,56277.35,03 TRANSFERENCIA ELECT,201711,2017,11,1064013.3455
656,"ZAPATA CAMIONES, S.A. DE C.V.",Emitida,2017-11-23,2017-11-30,1129.20,2.0,1309.87,03 TRANSFERENCIA ELECT,201711,2017,11,24765.1881
657,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-23,2017-12-01,15110.58,2.0,17528.20,03 TRANSFERENCIA ELECT,201712,2017,12,331398.6661
664,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-30,2017-12-08,1385.70,2.0,1607.36,03 TRANSFERENCIA ELECT,201712,2017,12,30389.7126
667,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-30,2017-12-08,43645.91,2.0,50629.20,03 TRANSFERENCIA ELECT,201712,2017,12,957226.0327
668,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-11-30,2017-12-08,2251.34,2.0,2611.60,03 TRANSFERENCIA ELECT,201712,2017,12,49376.4766
672,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-12-11,2017-12-19,30877.10,2.0,35817.45,03 TRANSFERENCIA ELECT,201712,2017,12,677186.2002
679,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-12-14,2017-12-22,10221.04,2.0,11856.40,PPD,201712,2017,12,224164.2122
688,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-12-19,2017-12-27,7420.56,2.0,8607.85,PPD,201712,2017,12,162745.1768
693,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-12-21,2017-12-29,49881.53,2.0,57862.57,PPD,201712,2017,12,1093984.4660
694,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2017-12-21,2017-12-29,6650.87,2.0,7715.01,PPD,201712,2017,12,145864.6081

In [50]:
facturas=pd.concat([df_dolar_2016, df_dolar_2017,df_dolar_2018,df_dolar_2019,df_pesos], axis=0)

In [51]:
facturas[['mes','Importe total','Importe_pesos']].groupby('mes').sum()

     Importe total
mes
01      1946001.39
02      3191951.09
03      2313364.92
04      3039838.96
05      3143339.38
06      3033308.29
07      3850094.53
08      4336924.55
09      5478473.40
10      3165573.88
11      2963561.90
12      3204486.99

In [52]:
facturas.head()

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago,ano-mes,ano,mes,Importe_pesos
10,STOUGHTON REFACCIONES Y SERVICIO ME,Emitida,2016-01-06,2016-01-14,2255.50,2.0,2616.38,NaN,201601,2016,01,48896.4793
18,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2016-01-21,2016-01-29,109714.08,2.0,127268.34,TRANSFERENCIA ELECTRO,201601,2016,01,2378467.0989
19,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2016-01-22,2016-01-30,22180.89,2.0,25729.81,TRANSFERENCIA ELECTRO,201601,2016,01,480854.1272
23,"UTILITY TRAILERS DE MEXICO, S.A.P.I. DE",Emitida,2016-01-26,2016-03-26,5252.55,2.0,6092.96,TRANSFERENCIA ELECTR,201603,2016,03,113868.8923
25,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C",Emitida,2016-01-27,2016-02-04,20596.46,2.0,23891.94,TRANSFERENCIA ELECTRO,201602,2016,02,446506.9099

In [53]:
df.head()

,Nombre,Estatus,Fecha de elaborac,Fecha de pago,Subtotal,Moned,Importe total,Metodo de pago,ano-mes,ano,mes
6,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02
7,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02
8,"BIMBO, S.A. DE C.V.",Emitida,2016-01-05,2016-02-04,79650.24,1.0,92394.28,TRANSFERENCIA ELECTRO,201602,2016,02
9,OMAR RODRIGO BRAMBILA TAMARIZ,Emitida,2016-01-05,2016-02-04,15910.00,1.0,18455.60,TRANSFERENCIA ELECTRO,201602,2016,02
10,STOUGHTON REFACCIONES Y SERVICIO ME,Emitida,2016-01-06,2016-01-14,2255.50,2.0,2616.38,NaN,201601,2016,01

In [59]:
Importe_Cliente=df[['Nombre','Importe total']].groupby('Nombre').sum()

In [55]:
df.columns

Index([u'Nombre', u'Estatus', u'Fecha de elaborac', u'Fecha de pago',
       u'Subtotal', u'Moned', u'Importe total', u'Metodo de pago', u'ano-mes',
       u'ano', u'mes'],
      dtype='object')

In [62]:
Importe_ano=df[['ano','Importe total']].groupby('ano').sum()

In [65]:
Importe_ano_mes=df[['ano-mes','Importe total']].groupby('ano-mes').sum()

In [67]:
Importe_mes=df[['mes','Importe total']].groupby('mes').sum()

In [73]:
df['ano'].value_counts()

2019    694
2018    413
2017    354
2016    268
2020     14
Name: ano, dtype: int64

In [74]:
Importe_ano

      Importe total
ano
2016     6524997.04
2017     8293438.62
2018    10549919.51
2019    14083109.19
2020      215454.92

In [77]:
BIMBO=df[df['Nombre']=='BIMBO, S.A. DE C.V.']

BARCEL=df[df['Nombre']=='BARCEL S.A. DE C.V.']

ALPURA=df[df['Nombre']=='TRANSPORTADORA ALPURA S.A.P.I. DE C.V.']

FACTURAS_SIN_SERVICIOS=df[df['Nombre'].isin([u'AIRIBUZ S.A. DE C.V-', u'ALEJANDRO CHAVEZ GONZALEZ',
       u'AMERICAN SMARTRUCKS, S.A. DE C.V.', u'ANGEL FLORES ARAUJO',
       u'ARTCULOS INDUSTRIALES VADE, S.DE R.L.', u'ARVAL, S.A.',
       u'BRANDES INTERNATIONAL CO.',
       u'BULKMATIC DE MEXICO, S. DE R.L. DE C.V.',
       u'CAMIONERA CATOSA S.A. DE C.V.', u'CESAR SUAREZ ALCANTARA',
       u'COMERCIALIZADORA DE REMOLQUES COR',
       u'COMERCIALIZADORA SUDIMEX, S. DE R. L.',
       u'CORPORATIVO MACRO DIESEL, S.A. DE C.V.',
       u'DE LA LUZ TRAILERS S.A. DE C.V.', u'ELVIA AVILES BATREZ',
       u'ENTORNO INDUSTRIAL, S.A. DE C.V.',
       u'ESPECIALIZADOS EN REMOLQUES Y CARRO', u'EXA INDUSTRIAL S.A. DE C.V.',
       u'FLETES HESA, S.A. DE C.V.', u'FRUEHAUF DE MEXICO, S.A. DE C.V.',
       u'GERARDO MARTINEZ SEGURA', u'GRANPORTUARIA SERVICIOS DEDICADOS S',
       u'GRIMALDO HERNANDEZ OLGA LYDIA',
       u'GRUPO INDUSTRIAL DAVASA, S.A. DE C.V.',
       u'INDUSTRIAS MAVAEN S.A. DE C.V.',
       u'INDUSTRIAS Y MANUFACTURAS MUOZ, S.',
       u'INSPECCION Y CRIOGENIA ICSA, S.A. DE C.V', u'JEBOL MEXICO SA DE C V',
       u'MARCO ANTONIO HUITRON FUENTES', u'MARIBEL BANDA ALONSO',
       u'MARTHA ELENA MENDOZA MEDINA', u'MECANICA TEK S.A. DE C.V.',
       u'METRICA MOVIL S.A. DE C.V.', u'MUNDO GLOBAL DE REMOLQUES, S.A. DE C',
       u'NITROPET, S.A. DE C.V.', u'OMAR RODRIGO BRAMBILA TAMARIZ',
       u'OPERBUS, S.A. DE C.V.', u'PAULO CESAR RUIZ CRUCES',
       u'PEDRO MORALES CERVANTES', u'PRAXAIR MEXICO, S. DE R.L. DE C.V.',
       u'RAUL GARCIA DE LOS ANGELES',
       u'REFACCIONARIA Y SERVICIOS DEL NORTE, S',
       u'REMOLQUES Y CARROCERIAS CRUZ, S.A. DE',
       u'SERVICIOS TRACTOMOTRICES, S.A. DE C.V.',
       u'STOUGHTON REFACCIONES Y SERVICIO ME',
       u'TALLERES ZUBIRIA S.A. DE C.V.', u'TECNOMOTUM SA DE CV',
       u'TRAILERS Y EQUIPO ALIADO, S.A. DE C.V.',
       u'TRANSPORTADORA EGOBA S.A. DE C.V.',
       u'TRANSPORTES GARCIAS TRUCKING, S.A. DE',
       u'TRANSPORTES MONROY SCHIAVON S.A. DE', u'TRAYLFER S.A. C.V.',
       u'UTILITY TRAILERS DE MEXICO,  S.A.P.I.  DE',
       u'VALENTIN PATIO BARRIGA', u'VIOLETA MORA HERNANDEZ',
       u'ZAPATA CAMIONES, S.A. DE C.V.'])]

In [106]:
BIMBO[['ano-mes','Importe total']].groupby('ano-mes').mean()

         Importe total
ano-mes
201602    92394.280000
201603     6314.460000
201605    22431.150000
201606    24915.640000
201608    15263.280000
201609     3016.000000
201610     2239.960000
201611     7110.220000
201612    20861.650909
201701    42386.523333
201702    26800.474286
201703    16206.746667
201704    18354.680000
201705    12467.680000
201706    31148.320000
201707     8364.760000
201708    18301.900000
201709    22057.578462
201710     9976.890000
201711    13445.290909
201712    14842.586667
201801     7906.173333
201802    22298.845714
201803    14067.320000
201804    16109.306667
201805    20597.540000
201806    12575.891429
201807    15304.170000
201808     9924.090000
201809    23757.960000
201810    14963.072000
201811    18409.973333
201812     8638.520000
201901    16837.632000
201902    25045.560000
201903     3567.000000
201904    29531.280000
201905    11815.594286
201906    24803.265000
201907    27132.284000
201908    27394.817778
201909    18307.990000
201910    22479.060000
201911    17177.537778
201912    14636.574737
202001     8793.960000
202002    24359.420000