In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os
import pygal
import matplotlib.pyplot as plt
import sqlalchemy
from datetime import datetime,date,time,timedelta
import calendar
import math
from os import remove

In [2]:
df2=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas_sin_mano_obra.xlsx')

df2 = df2[df2.Estatus=='Emitida']
df2.reset_index(inplace=True,drop=True)

In [3]:
df2.head()

,Nombre,Estatus,Fecha_de_elabor,Fecha_de_entr,Fecha_de_p,Fecha_de_cance,Subtotal,Importe,Método_pago
0,"BULKMATIC DE MEXICO, S. DE R.L. DE C.V.",Emitida,2019-08-21,2019-08-21,201908,NaN,1458.0,1691.28,PPD
1,BRANDES INTERNATIONAL CO.,Emitida,2019-08-21,2019-08-21,201909,NaN,105432.0,105432.00,PPD
2,"COMERCIALIZADORA SUDIMEX, S. DE R. L. DE C.V.",Emitida,2019-08-21,2019-08-21,201909,NaN,3065.0,3555.40,PPD
3,"BULKMATIC DE MEXICO, S. DE R.L. DE C.V.",Emitida,2019-08-20,2019-08-15,201908,NaN,1236.0,1433.76,PPD
4,INDUSTRIAS MAVAEN S.A. DE C.V.,Emitida,2019-08-19,2019-08-19,201909,NaN,9133.2,10594.50,PPD

In [4]:
df2.Importe.sum()

20557776.56

In [59]:
ruta='/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/tratadas'

lst_arch = ([x for x in os.listdir(ruta) if x[-4:]=='xlsx'])
lst_arch

['Facturas_Bimbo.xlsx', 'Facturas_Barcel.xlsx', 'Facturas_Alpura.xlsx']

In [60]:
lst_df = []
for arch in lst_arch:
    df = pd.read_excel(os.path.join(ruta,arch),encoding='iso-8859-1')
    lst_df.append(df)

In [61]:
lst_df[0].shape

(281, 7)

In [62]:
lst_df[0] = lst_df[0] [lst_df[0]['Fecha_p'].isin(['201901','201902','201903','201904','201905','201906','201907','201908'])]
lst_df[0].reset_index(drop=True,inplace=True)

In [63]:
lst_df[1] = lst_df[1] [lst_df[1]['Fecha_pago'].isin(['201901','201902','201903','201904','201905','201906','201907','201908'])]
lst_df[1].reset_index(drop=True,inplace=True)

In [64]:
lst_df[2] = lst_df[2] [lst_df[2]['Fecha_pago'].isin(['201901','201902','201903','201904','201905','201906','201907','201908'])]
lst_df[2].reset_index(drop=True,inplace=True)

In [65]:
df2=df2[df2['Fecha_de_p'].isin(['201901','201902','201903','201904','201905','201906','201907','201908'])]
df2.reset_index(drop=True,inplace=True)

In [66]:
lst_df[1].head()

,Nombre,Fecha_elab,Fecha_entrega,Fecha_pago,Subtotal,Importe_total,Método_pago
0,BARCEL S.A. DE C,201907,201906,201907,46174,53561.84,PPD
1,BARCEL S.A. DE C,201907,201906,201907,44896,52079.36,PPD
2,BARCEL S.A. DE C,201907,201906,201907,45974,53329.84,PPD
3,BARCEL S.A. DE C,201907,201906,201907,46255,53655.80,PPD
4,BARCEL S.A. DE C,201907,201906,201907,39610,45947.60,PPD

In [67]:
lst_df[2].head()

,Nombre,Fecha_elabo,Fecha_entr,Fecha_pago,Subtotal,Importe_total,Método_pago
0,TRANSPORTADO,201906,201906,201908,31069.0,36040.04,PPD

In [68]:
df2.head()

,Nombre,Estatus,Fecha_de_elabor,Fecha_de_entr,Fecha_de_p,Fecha_de_cance,Subtotal,Importe,Método_pago
0,"BULKMATIC DE MEXICO, S. DE R.L. DE C.V.",Emitida,2019-08-21,2019-08-21,201908,NaN,1458.0,1691.28,PPD
1,"BULKMATIC DE MEXICO, S. DE R.L. DE C.V.",Emitida,2019-08-20,2019-08-15,201908,NaN,1236.0,1433.76,PPD
2,JEBOL MEXICO SA DE C V,Emitida,2019-08-16,2019-08-16,201908,NaN,69960.0,81153.60,PPD
3,INDUSTRIAS MAVAEN S.A. DE C.V.,Emitida,2019-08-06,2019-08-06,201908,NaN,52186.9,60536.80,PPD
4,JEBOL MEXICO SA DE C V,Emitida,2019-08-02,2019-08-02,201908,NaN,71070.0,82441.20,PPD

In [69]:
aux=lst_df[0][['Fecha_p','Importe_total']].groupby('Fecha_p').sum()
aux.sort_values('Fecha_p',ascending=True,inplace=True)
aux

         Importe_total
Fecha_p
201901        84188.16
201902       100182.24
201903         7134.00
201904        88593.84
201905       496254.96
201906       396852.24
201907       271322.84
201908       246553.36

In [70]:
aux2=lst_df[1][['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()
aux2.sort_values('Fecha_pago',ascending=True,inplace=True)
aux2

            Importe_total
Fecha_pago
201902          270825.20
201903          358747.40
201904          290261.00
201905          390415.40
201906          444186.04
201907          653921.00
201908          261284.20

In [71]:
aux3=lst_df[2][['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()
aux3.sort_values('Fecha_pago',ascending=True,inplace=True)
aux3

            Importe_total
Fecha_pago
201908           36040.04

In [72]:
aux4=df2[['Fecha_de_p','Importe']].groupby('Fecha_de_p').sum()
aux4.sort_values('Fecha_de_p',ascending=True,inplace=True)
aux4

              Importe
Fecha_de_p
201901      261440.20
201902      929546.32
201903      329260.08
201904      337698.34
201905      485251.15
201906      515790.87
201907      756934.77
201908      493361.40

In [79]:
line_chart = pygal.Bar()
line_chart.title = 'Facturas 2019'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2019.svg')

In [74]:
line_chart = pygal.Pie()
line_chart.title = 'Facturas 2019'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2019_pie.svg')

In [83]:
line_chart = pygal.StackedLine(stack_from_top=True, fill=True)
line_chart.title = 'Facturas 2019'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2019_acum.svg')

In [82]:
line_chart = pygal.Line(stack_from_top=True)
line_chart.title = 'Facturas 2019'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2019_lineal.svg')