In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os
import pygal
import matplotlib.pyplot as plt
import sqlalchemy
from datetime import datetime,date,time,timedelta
import calendar
import math
from os import remove

In [2]:
df2=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas_sin_mano_obra.xlsx')

df2 = df2[df2.Estatus=='Emitida']
df2.reset_index(inplace=True,drop=True)

In [3]:
ruta='/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/tratadas'

lst_arch = ([x for x in os.listdir(ruta) if x[-4:]=='xlsx'])
lst_arch

['Facturas_Bimbo.xlsx', 'Facturas_Barcel.xlsx', 'Facturas_Alpura.xlsx']

In [4]:
lst_df = []
for arch in lst_arch:
    df = pd.read_excel(os.path.join(ruta,arch),encoding='iso-8859-1')
    lst_df.append(df)

In [5]:
lst_df[0].shape

(281, 7)

In [6]:
lst_df[0] = lst_df[0] [lst_df[0]['Fecha_p'].isin(['201701','201702','201703','201704','201705','201706','201707','201708','201709','201710','201711','201712'])]
lst_df[0].reset_index(drop=True,inplace=True)

In [7]:
lst_df[1] = lst_df[1] [lst_df[1]['Fecha_pago'].isin(['201701','201702','201703','201704','201705','201706','201707','201708','201709','201710','201711','201712'])]
lst_df[1].reset_index(drop=True,inplace=True)

In [8]:
lst_df[2] = lst_df[2] [lst_df[2]['Fecha_pago'].isin(['201701','201702','201703','201704','201705','201706','201707','201708','201709','201710','201711','201712'])]
lst_df[2].reset_index(drop=True,inplace=True)

In [9]:
df2=df2[df2['Fecha_de_p'].isin(['201701','201702','201703','201704','201705','201706','201707','201708','201709','201710','201711','201712'])]
df2.reset_index(drop=True,inplace=True)

In [10]:
lst_df[1].head()

Empty DataFrame
Columns: [Nombre, Fecha_elab, Fecha_entrega, Fecha_pago, Subtotal, Importe_total, Método_pago]
Index: []

In [11]:
lst_df[2].head()

,Nombre,Fecha_elabo,Fecha_entr,Fecha_pago,Subtotal,Importe_total,Método_pago
0,TRANSPORTADO,201702,201702,201703,23388.75,27130.95,3
1,TRANSPORTADO,201709,201709,201711,34817.28,40388.05,03 TRANSFERENCIA ELECTRÓNIC

In [12]:
df2.head()

,Nombre,Estatus,Fecha_de_elabor,Fecha_de_entr,Fecha_de_p,Fecha_de_cance,Subtotal,Importe,Método_pago
0,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2017-12-21,2017-12-21,201712,NaN,6650.87,7715.01,PPD
1,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2017-12-21,2017-12-21,201712,NaN,49881.50,57862.50,PPD
2,"MUNDO GLOBAL DE REMOLQUES, S.A. DE C.V.",Emitida,2017-12-19,2017-12-19,201712,NaN,7420.56,8607.85,PPD
3,"INDUSTRIAS Y MANUFACTURAS MUÑOZ, S.A. DE C.V.",Emitida,2017-12-15,2017-12-15,201712,NaN,38572.00,44743.50,PPD
4,"INDUSTRIAS Y MANUFACTURAS MUÑOZ, S.A. DE C.V.",Emitida,2017-12-15,2017-12-15,201712,NaN,36158.00,41943.20,PPD

In [13]:
aux=lst_df[0][['Fecha_p','Importe_total']].groupby('Fecha_p').sum()
aux.sort_values('Fecha_p',ascending=True,inplace=True)
aux

         Importe_total
Fecha_p
201701       508638.28
201702       187603.32
201703        97240.48
201704       165192.12
201705        37403.04
201706        62296.64
201707        41823.80
201708       109811.40
201709       286748.52
201710        99768.90
201711       147898.20
201712       133583.28

In [14]:
aux2=lst_df[1][['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()
aux2.sort_values('Fecha_pago',ascending=True,inplace=True)
aux2

Empty DataFrame
Columns: [Importe_total]
Index: []

In [15]:
aux3=lst_df[2][['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()
aux3.sort_values('Fecha_pago',ascending=True,inplace=True)
aux3

            Importe_total
Fecha_pago
201703           27130.95
201711           40388.05

In [16]:
aux4=df2[['Fecha_de_p','Importe']].groupby('Fecha_de_p').sum()
aux4.sort_values('Fecha_de_p',ascending=True,inplace=True)
aux4

               Importe
Fecha_de_p
201701       266199.76
201702       412004.91
201703       516014.35
201704       315469.48
201705       308554.59
201706       588881.23
201707      1288086.54
201708      1078619.10
201709       395485.72
201710       261417.57
201711       361194.76
201712       552077.22

In [17]:
line_chart = pygal.Bar()
line_chart.title = 'Facturas 2017'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2017.svg')

In [18]:
line_chart = pygal.Pie()
line_chart.title = 'Facturas 2017'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2017_Pie.svg')

In [19]:
line_chart = pygal.Line(stack_from_top=True)
line_chart.title = 'Facturas 2017'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2017_Lineal.svg')

In [20]:
line_chart = pygal.StackedLine(stack_from_top=True, fill=True)
line_chart.title = 'Facturas 2017'
line_chart.x_labels = aux4.index
line_chart.add('Bimbo',aux.Importe_total)
line_chart.add('Barcel',aux2.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.add('Facturas sin mano obra',aux4.Importe)
line_chart.render_to_file('Facturas_2017_acum.svg')