In [1]:
from pandas import ExcelWriter
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os
from pandas import ExcelWriter
import pygal

In [2]:
df=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Barcel-convertido.xlsx')

In [3]:
df.head()

,Nombre,Estatus,Fecha_elab,Fecha_entrega,Fecha_pago,Fecha_canc,Subtotal,Importe_total,Método_pago
0,BARCEL S.A. DE C,Cancelada,2018-03-26,2018-03-26 00:00:00,2018-04-10,2018-03-26,220,255.20,3
1,BARCEL S.A. DE C,Emitida,2019-08-26,2019-07-08 00:00:00,2019-09-10,NaT,7011,8132.76,PPD
2,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-26 00:00:00,2019-07-24,NaT,46174,53561.84,PPD
3,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-24 00:00:00,2019-07-24,NaT,44896,52079.36,PPD
4,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-11 00:00:00,2019-07-24,NaT,45974,53329.84,PPD

In [4]:
df.shape

(188, 9)

In [5]:
df.sample(100).Estatus.value_counts(normalize=True)

Emitida      0.92
Cancelada    0.06
Original     0.01
Devuelta     0.01
Name: Estatus, dtype: float64

In [6]:
df = df[df.Estatus=='Emitida']
df.reset_index(inplace=True,drop=True)

In [7]:
df.head()

,Nombre,Estatus,Fecha_elab,Fecha_entrega,Fecha_pago,Fecha_canc,Subtotal,Importe_total,Método_pago
0,BARCEL S.A. DE C,Emitida,2019-08-26,2019-07-08 00:00:00,2019-09-10,NaT,7011,8132.76,PPD
1,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-26 00:00:00,2019-07-24,NaT,46174,53561.84,PPD
2,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-24 00:00:00,2019-07-24,NaT,44896,52079.36,PPD
3,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-11 00:00:00,2019-07-24,NaT,45974,53329.84,PPD
4,BARCEL S.A. DE C,Emitida,2019-07-09,2019-06-25 00:00:00,2019-07-24,NaT,46255,53655.80,PPD

In [8]:
df['Fecha_pago']=df['Fecha_pago'].map(lambda x:x.strftime('%Y%m'))
df['Fecha_entrega']=df['Fecha_entrega'].map(lambda x:x.strftime('%Y%m'))
df['Fecha_elab']=df['Fecha_elab'].map(lambda x:x.strftime('%Y%m'))

In [9]:
df[['Fecha_elab','Fecha_pago','Fecha_entrega']]

    Fecha_elab Fecha_pago Fecha_entrega
0       201908     201909        201907
1       201907     201907        201906
2       201907     201907        201906
3       201907     201907        201906
4       201907     201907        201906
5       201908     201909        201907
6       201908     201909        201907
7       201908     201909        201907
8       201908     201909        201907
9       201908     201909        201907
10      201908     201909        201907
11      201908     201909        201907
12      201907     201907        201906
13      201908     201909        201907
14      201908     201909        201907
15      201908     201909        201907
16      201908     201909        201907
17      201908     201909        201907
18      201908     201909        201907
19      201907     201907        201906
20      201908     201909        201907
21      201908     201909        201907
22      201908     201909        201907
23      201907     201907        201906
24      201907     201907        201906
25      201908     201909        201907
26      201905     201905        201905
27      201803     201804        201803
28      201803     201804        201803
29      201902     201902        201902
..         ...        ...           ...
148     201903     201903        201903
149     201807     201808        201807
150     201807     201808        201807
151     201905     201906        201905
152     201903     201903        201903
153     201903     201903        201903
154     201807     201808        201807
155     201903     201903        201903
156     201903     201903        201903
157     201903     201903        201903
158     201809     201810        201809
159     201809     201810        201809
160     201809     201810        201809
161     201807     201808        201807
162     201810     201811        201810
163     201906     201906        201906
164     201904     201905        201904
165     201903     201904        201903
166     201903     201904        201903
167     201903     201903        201903
168     201807     201808        201807
169     201802     201803        201802
170     201802     201803        201802
171     201903     201903        201903
172     201903     201903        201903
173     201905     201905        201904
174     201811     201812        201811
175     201811     201812        201811
176     201811     201812        201811
177     201806     201807        201806

[178 rows x 3 columns]

In [10]:
df.head()

,Nombre,Estatus,Fecha_elab,Fecha_entrega,Fecha_pago,Fecha_canc,Subtotal,Importe_total,Método_pago
0,BARCEL S.A. DE C,Emitida,201908,201907,201909,NaT,7011,8132.76,PPD
1,BARCEL S.A. DE C,Emitida,201907,201906,201907,NaT,46174,53561.84,PPD
2,BARCEL S.A. DE C,Emitida,201907,201906,201907,NaT,44896,52079.36,PPD
3,BARCEL S.A. DE C,Emitida,201907,201906,201907,NaT,45974,53329.84,PPD
4,BARCEL S.A. DE C,Emitida,201907,201906,201907,NaT,46255,53655.80,PPD

In [11]:
df.columns

Index(['Nombre', 'Estatus', 'Fecha_elab', 'Fecha_entrega', 'Fecha_pago',
       'Fecha_canc', 'Subtotal', 'Importe_total', 'Método_pago'],
      dtype='object')

In [12]:
df.drop(['Estatus','Fecha_canc'],axis=1,inplace=True)

In [13]:
df.head()

,Nombre,Fecha_elab,Fecha_entrega,Fecha_pago,Subtotal,Importe_total,Método_pago
0,BARCEL S.A. DE C,201908,201907,201909,7011,8132.76,PPD
1,BARCEL S.A. DE C,201907,201906,201907,46174,53561.84,PPD
2,BARCEL S.A. DE C,201907,201906,201907,44896,52079.36,PPD
3,BARCEL S.A. DE C,201907,201906,201907,45974,53329.84,PPD
4,BARCEL S.A. DE C,201907,201906,201907,46255,53655.80,PPD

In [14]:
df.sample(100).Método_pago.value_counts(normalize=True)

PPD    1.0
Name: Método_pago, dtype: float64

In [50]:
writer=ExcelWriter('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Barcel.xlsx')
df.to_excel(writer,'Hoja de Datos',index=False)
writer.save()

In [66]:
df2=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Bimbo.xlsx')

aux2=df2[['Fecha_p','Importe_total']].groupby('Fecha_p').sum()

aux2.sort_values('Importe_total',ascending=False,inplace=True)

aux2

In [77]:
aux=df[['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()

In [78]:
aux.sort_values('Importe_total',ascending=False,inplace=True)

In [79]:
aux

            Importe_total
Fecha_pago
201907          653921.00
201909          526817.48
201906          444186.04
201905          390415.40
201903          358747.40
201904          290261.00
201902          270825.20
201908          261284.20
201808          129868.96
201812          117531.20
201803          103009.16
201810           76272.32
201811           61299.04
201804           32818.72
201807            3120.40

In [87]:
df3.head()

,Nombre,Fecha_elabo,Fecha_entr,Fecha_pago,Subtotal,Importe_total,Método_pago
0,TRANSPORTADO,201702,201702,201703,23388.75,27130.95,3
1,TRANSPORTADO,201709,201709,201711,34817.28,40388.05,03 TRANSFERENCIA ELECTRÓNIC
2,TRANSPORTADO,201803,201803,201804,25202.00,29234.32,PPD
3,TRANSPORTADO,201810,201810,201811,25202.00,29234.32,PPD
4,TRANSPORTADO,201802,201802,201804,25202.00,29234.32,PPD

In [88]:
df3=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Alpura.xlsx')

aux3=df3[['Fecha_pago','Importe_total']].groupby('Fecha_pago').sum()

aux3.sort_values('Importe_total',ascending=False,inplace=True)

aux3

            Importe_total
Fecha_pago
201804          204640.24
201805          146171.60
201811          146171.60
201909          108120.12
201711           40388.05
201908           36040.04
201806           29234.32
201807           29234.32
201703           27130.95

In [60]:
line_chart = pygal.Bar()
line_chart.title = 'Pagos x año-mes'
line_chart.x_labels =aux.index 
line_chart.add('Suma', aux.Importe_total)
line_chart.render_to_file('barritas.svg')

In [81]:
line_chart = pygal.Line()
line_chart.title = 'Pagos x año-mes'
line_chart.x_labels = aux2.index
line_chart.add('Suma',aux.Importe_total)
line_chart.add('Suma',aux2.Importe_total)
line_chart.render_to_file('lineas_chidas2.svg')

In [89]:
line_chart = pygal.StackedLine(fill=True)
line_chart.title = 'Pagos x año mes'
line_chart.x_labels = aux2.index
line_chart.add('Bimbo',aux2.Importe_total)
line_chart.add('Barcel',aux.Importe_total)
line_chart.add('Alpura',aux3.Importe_total)
line_chart.render_to_file('areas_chidas3.svg')