In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os
from pandas import ExcelWriter

In [2]:
df=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Bimbo-convertido.xlsx')

In [3]:
df.shape

(281, 9)

In [4]:
df.columns

Index(['Nombre', 'Estatus', 'Fecha_elab', 'Fecha_entr', 'Fecha_p',
       'Fecha_canc', 'Subtotal', 'Importe_total', 'Método_pago'],
      dtype='object')

In [5]:
df.sample(150).Método_pago.value_counts(normalize=True)

PPD                            0.566667
03 TRANSFERENCIA ELECTRÓNIC    0.286667
3                              0.146667
Name: Método_pago, dtype: float64

In [6]:
df.head()

,Nombre,Estatus,Fecha_elab,Fecha_entr,Fecha_p,Fecha_canc,Subtotal,Importe_total,Método_pago
0,"BIMBO, S.A. DE C",Emitida,2016-11-03,2016-11-03,2016-12-03,NaN,42642.0,49464.72,3
1,"BIMBO, S.A. DE C",Emitida,2017-02-09,2017-02-09,2017-03-11,NaN,23616.0,27394.56,3
2,"BIMBO, S.A. DE C",Emitida,2016-11-14,2016-11-14,2016-12-14,NaN,1696.0,1967.36,3
3,"BIMBO, S.A. DE C",Emitida,2016-11-14,2016-11-14,2016-12-14,NaN,24204.0,28076.64,3
4,"BIMBO, S.A. DE C",Emitida,2016-11-03,2016-11-03,2016-12-03,NaN,2700.0,3132.00,3

In [7]:
df['Fecha_p']=df['Fecha_p'].map(lambda x:x.strftime('%Y%m'))
df['Fecha_elab']=df['Fecha_elab'].map(lambda x:x.strftime('%Y%m'))
df['Fecha_entr']=df['Fecha_entr'].map(lambda x:x.strftime('%Y%m'))

In [8]:
df.head()

,Nombre,Estatus,Fecha_elab,Fecha_entr,Fecha_p,Fecha_canc,Subtotal,Importe_total,Método_pago
0,"BIMBO, S.A. DE C",Emitida,201611,201611,201612,NaN,42642.0,49464.72,3
1,"BIMBO, S.A. DE C",Emitida,201702,201702,201703,NaN,23616.0,27394.56,3
2,"BIMBO, S.A. DE C",Emitida,201611,201611,201612,NaN,1696.0,1967.36,3
3,"BIMBO, S.A. DE C",Emitida,201611,201611,201612,NaN,24204.0,28076.64,3
4,"BIMBO, S.A. DE C",Emitida,201611,201611,201612,NaN,2700.0,3132.00,3

In [9]:
df.columns

Index(['Nombre', 'Estatus', 'Fecha_elab', 'Fecha_entr', 'Fecha_p',
       'Fecha_canc', 'Subtotal', 'Importe_total', 'Método_pago'],
      dtype='object')

In [10]:
df.drop(['Estatus','Fecha_canc',],axis=1,inplace=True)

In [11]:
df.head()

,Nombre,Fecha_elab,Fecha_entr,Fecha_p,Subtotal,Importe_total,Método_pago
0,"BIMBO, S.A. DE C",201611,201611,201612,42642.0,49464.72,3
1,"BIMBO, S.A. DE C",201702,201702,201703,23616.0,27394.56,3
2,"BIMBO, S.A. DE C",201611,201611,201612,1696.0,1967.36,3
3,"BIMBO, S.A. DE C",201611,201611,201612,24204.0,28076.64,3
4,"BIMBO, S.A. DE C",201611,201611,201612,2700.0,3132.00,3

In [13]:
writer = ExcelWriter('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Bimbo.xlsx')
df.to_excel(writer, 'Hoja de datos', index=False)
writer.save()