In [1]:
from pandas import ExcelWriter
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os
from pandas import ExcelWriter

In [2]:
df=pd.read_excel('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Alpura-convertido.xlsx')

In [3]:
df.head()

,Nombre,Estatus,Fecha_elabo,Fecha_entr,Fecha_pago,Fecha_canc,Subtotal,Importe_total,Método_pago
0,TRANSPORTADO,Cancelada,2018-02-23,2018-02-23,2018-04-09,2018-02-23,25202.00,29234.32,3
1,TRANSPORTADO,Cancelada,2018-02-23,2018-02-23,2018-04-09,2018-02-23,16809.62,19499.16,3
2,TRANSPORTADO,Emitida,2017-02-02,2017-02-02,2017-03-19,NaT,23388.75,27130.95,3
3,TRANSPORTADO,Cancelada,2018-09-27,2018-09-27,2018-11-11,2018-09-28,25202.00,29234.32,3
4,TRANSPORTADO,Emitida,2017-09-27,2017-09-27,2017-11-11,NaT,34817.28,40388.05,03 TRANSFERENCIA ELECTRÓNIC

In [4]:
df=df[df.Estatus=='Emitida']

In [5]:
df['Fecha_elabo']=df['Fecha_elabo'].map(lambda x:x.strftime('%Y%m'))
df['Fecha_entr']=df['Fecha_entr'].map(lambda x:x.strftime('%Y%m'))
df['Fecha_pago']=df['Fecha_pago'].map(lambda x:x.strftime('%Y%m'))

In [6]:
df.head()

,Nombre,Estatus,Fecha_elabo,Fecha_entr,Fecha_pago,Fecha_canc,Subtotal,Importe_total,Método_pago
2,TRANSPORTADO,Emitida,201702,201702,201703,NaT,23388.75,27130.95,3
4,TRANSPORTADO,Emitida,201709,201709,201711,NaT,34817.28,40388.05,03 TRANSFERENCIA ELECTRÓNIC
5,TRANSPORTADO,Emitida,201803,201803,201804,NaT,25202.00,29234.32,PPD
6,TRANSPORTADO,Emitida,201810,201810,201811,NaT,25202.00,29234.32,PPD
7,TRANSPORTADO,Emitida,201802,201802,201804,NaT,25202.00,29234.32,PPD

In [7]:
df.columns

Index(['Nombre', 'Estatus', 'Fecha_elabo', 'Fecha_entr', 'Fecha_pago',
       'Fecha_canc', 'Subtotal', 'Importe_total', 'Método_pago'],
      dtype='object')

In [8]:
df.drop(['Estatus','Fecha_canc'],axis=1,inplace=True)

In [9]:
df.head()

,Nombre,Fecha_elabo,Fecha_entr,Fecha_pago,Subtotal,Importe_total,Método_pago
2,TRANSPORTADO,201702,201702,201703,23388.75,27130.95,3
4,TRANSPORTADO,201709,201709,201711,34817.28,40388.05,03 TRANSFERENCIA ELECTRÓNIC
5,TRANSPORTADO,201803,201803,201804,25202.00,29234.32,PPD
6,TRANSPORTADO,201810,201810,201811,25202.00,29234.32,PPD
7,TRANSPORTADO,201802,201802,201804,25202.00,29234.32,PPD

In [40]:
writer=ExcelWriter('/Users/Laura/Desktop/COTRAPSA/Analisis facturas/Facturas con mano de obra/Facturas_Alpura.xlsx')
df.to_excel(writer,'Hoja de Datos',index=False)
writer.save()